.meus-dados {
  background-color: #003140;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 2rem;
  padding: 0 1%;
  margin-bottom: 5rem;
}

.minha-foto {
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.dados-pessoais {
  color: #ffffff;
  max-width: 600px;
}

.dados-pessoais h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 1.5rem;
}

.dados-pessoais .titulo {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin-bottom: 1rem;
  color: #00bcd4;
}

.sobre_min {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.sobre_min li {
  margin-bottom: 1rem;
  line-height: 1.3;
  list-style-type: none;
  color: #ffffff;
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  font-weight: 400;
}

.unicesumar {
  color: #00bcd4;
  text-decoration: none;
}

.unicesumar:hover {
  text-decoration: underline;
  background-color: #00bcd4;
  color: white;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.alura {
  color: #060b41;
  text-decoration: none;
}

.alura:hover {
  text-decoration: underline;
  background-color: #060b41;
  color: white;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.udemy {
  color: #e62e2e;
  text-decoration: none;
}

.udemy:hover {
  text-decoration: underline;
  background-color: #e62e2e;
  color: white;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}
.dankicode {
  color: #b900f1;
  text-decoration: none;
}

.dankicode:hover {
  text-decoration: underline;
  background-color: #b900f1;
  color: white;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}
