@import url("./theme.css");
@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    160deg,
    var(--gray-900) 0%,
    var(--gray-800) 25%,
    var(--gray-700) 50%,
    var(--gray-600) 75%,
    var(--gray-900) 100%
  );
  color: var(--text-default);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 140dvh;
}
