.cabecalho {
  display: flex;
  width: 100%;
  color: #0a0a0a;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8%;
}

.logon-marca h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #03153d;
  cursor: pointer;
}

.logon-marca h1 b {
  color: #003140;
}

.menu-mobile {
  display: none;
}

.menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  color: #0a0a0a;
  z-index: 1;
}

.menu ul li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 1.2rem;
}

.menu ul li:hover {
  color: #003140;
  font-weight: 800;
  transition: color 0.6s;
}
.fixed {
  position: fixed;
  background-color: #ffffffc5;
  box-shadow: inset 0px 0px 15px #0000001a;
  z-index: 999;
  & .menu ul {
    color: rgb(46, 46, 46);
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
