.container-bn {
  background-color: #ffffff;
  display: flex;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divisao {
  background-color: #003140;
  width: 100%;
  height: 4.5rem;
}
