.container-bn {
  background-color: #ffffff;
  display: flex;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.titleContacto h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 700;
  color: #003140;
  margin-bottom: 1rem;
}

.titleContacto p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 600;
  color: #003140;
  margin-bottom: 1rem;
}

.move-right {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;

  /* Animação */
  animation: slideRight 8s linear infinite;
}

/* Pausa quando passa o mouse */
.move-right:hover {
  animation-play-state: paused;
}

.linkedin {
  background-color: #0a66c2;
  padding: 0.5rem;
  border-radius: 0.8rem;
  color: #ffffff;
  font-weight: 600;
}

.github {
  background-color: #000000;
  padding: 0.5rem;
  border-radius: 0.8rem;
  color: #ffffff;
  font-weight: 600;
}

.instagram {
  background-color: #c13584;
  padding: 0.5rem;
  border-radius: 0.8rem;
  color: #ffffff;
  font-weight: 600;
}

.meu_email {
  padding: 0.5rem;
  color: #003140;
  font-weight: 600;
}

.redes-sociais {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #003140;
  border: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divisao {
  background-color: #003140;
  width: 100%;
  height: 4.5rem;
  position: absolute;
  bottom: 0;
}
/* Keyframes da animação */
@keyframes slideRight {
  0% {
    transform: translateX(-20%);
  }
  30% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-20%);
  }
}

@media (max-width: 1024px) {
  .image_gif {
    width: 50%;
    height: 37.5rem;
  }
}

@media (max-width: 600px) {
  .container-flex {
    min-height: 30rem;
  }
  .image_gif {
    display: none;
  }
}
